body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

ul.nav a:hover {
  color: #337ab7;
  cursor: pointer;
}


h1 {
  margin-top: 0;
  font-size: 2em;
}

.main-nav {
  padding: 10px;
  border-bottom: 10px solid #b3ee00;
}
  .main-nav a {
    color: white;
  }

.loading-box {
  margin-top: 10%;
}


.text-light {
  font-weight: lighter;
}

.thumbnail img {
  height: 200px;
  width: auto;
}

.item-pic {
  background-color: lightgray;
  height: 200px;
}
  .item-pic i {
    margin-top: 20%;
  }
