<div class="row">
  <div class="col-xs-6">
    <div class="clearfix">&nbsp;</div>
    <ng-form name="editForm">
      <div class="form-group">
        <label>Name</label><br/>
        <input data-ng-required="true" type="text" class="form-control" data-ng-model="item.name"/>
      </div>
      <div class="form-group">
        <label>Type</label><br/>
        <input data-ng-required="true" type="text" class="form-control" data-ng-model="item.type"/>
      </div>
      <div class="form-group">
        <label>Description</label><br/>
        <textarea data-ng-model="item.desc" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Company</label><br/>
        <input data-ng-required="true" type="text" class="form-control" data-ng-model="item.company"/>
      </div>
      <div class="form-group">
        <label>Stock</label><br/>
        <input type="number" class="form-control" data-ng-model="item.stock"/>
      </div>
      <div class="form-group">
        <label>Thumbnail</label>
        <input accept="image/*" type="file" data-ng-model="uploadedImg" base-sixty-four-input />
      </div>
      <button class="btn btn-success" data-ng-click="save(editForm)"><i class="fa fa-check"></i></button>
      <button class="btn btn-danger" data-ng-click="delete()"><i class="fa fa-times"></i></button>
    </ng-form>
  </div>
</div>
