<div class="row">
  <div class="clearfix">&nbsp;</div>
  <div class="col-xs-12 text-center">
    <h1>Edit Inventory Item</h1>
  </div>
  <div class="text-center col-md-offset-3 item-pic col-md-3 col-xs-12">
    <i data-ng-if="!item.img" class="fa fa-picture-o fa-5x"></i>
    <img data-ng-if="item.img" data-ng-src="{{ item.img }}" alt=""/>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <ng-form name="editForm">
      <div class="form-group">
        <label>Name</label><br/>
        <input data-ng-required="true" type="text" class="form-control" data-ng-model="item.name"/>
      </div>
      <div class="form-group">
        <label>Type</label><br/>
        <input data-ng-required="true" type="text" class="form-control" data-ng-model="item.type"/>
      </div>
      <div class="form-group">
        <label>Description</label><br/>
        <textarea data-ng-model="item.desc" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Company</label><br/>
        <input data-ng-required="true" type="text" class="form-control" data-ng-model="item.company"/>
      </div>
      <div class="form-group">
        <label>Stock</label><br/>
        <input data-ng-required="true" type="number" class="form-control" data-ng-model="item.stock"/>
      </div>
      <div class="form-group">
        <label>Thumbnail</label>
        <input accept="image/*" type="file" data-ng-model="uploadedImg" base-sixty-four-input />
      </div>
      <button class="btn btn-success" data-ng-click="save(editForm)"><i class="fa fa-check"></i> Save</button>
      <button class="btn btn-danger" data-ng-click="openDeleteModal()"><i class="fa fa-times"></i> Discard Changes</button>
    </ng-form>
  </div>
</div>
