<div class="row">
  <div class="col-xs-6">
    <div class="clearfix">&nbsp;</div>
    <ng-form name="editForm">
      <div class="form-group">
        <label>Name</label><br/>
        <input type="text" class="form-control" data-ng-model="item.name"/>
      </div>
      <div class="form-group">
        <label>Type</label><br/>
        <input type="text" class="form-control" data-ng-model="item.type"/>
      </div>
      <div class="form-group">
        <label>Description</label><br/>
        <textarea data-ng-model="item.desc" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Company</label><br/>
        <input type="text" class="form-control" data-ng-model="item.company"/>
      </div>
      <div class="form-group">
        <label>Stock</label><br/>
        <input type="number" class="form-control" data-ng-model="item.stock"/>
      </div>
      <button class="btn btn-success" data-ng-click="save(editForm)"><i class="fa fa-check"></i></button>
    </ng-form>
  </div>
</div>
