<div class="row" data-ng-if="!isLoaded">
  <div class="col-xs-12 text-center loading-box">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>
</div>
<div class="row" data-ng-show="isLoaded">
  <div class="clearfix">&nbsp;</div>
  <div class="col-xs-6">
    <button class="btn btn-success" data-ng-click="addNew()"><i class="fa fa-plus"></i> Add</button>

    <form class="manage-filters form-inline" role="form">
      <div class="form-group">
        <label>Company</label>&nbsp;
        <select class="form-control" data-ng-model="selectedCompany"
                data-ng-options="company for company in companies"></select>
      </div>&nbsp;
      <div class="form-group">
        <label>Type</label>&nbsp;
        <select class="form-control" data-ng-model="selectedType" data-ng-options="type for type in types"></select>
      </div>&nbsp;
      <div class="form-group">
        <button data-ng-click="resetFilters()" class="btn btn-danger"><i class="fa fa-times"></i> Reset Filters</button>
      </div>
      <i class="fa fa-spinner fa-spin pull-right fa-2x" data-ng-if="isBusy"></i>
    </form>
  </div>
</div>

</div>
<div class="row">
  <div class="clearfix">&nbsp;</div>
  <div class="col-xs-12 text-center" data-ng-if="!items.length && isLoaded">
    <h2 class="text-muted"><i class="fa fa-info-circle"></i> Your inventory is empty.</h2>
  </div>
  <div class="col-xs-12 col-md-3" data-ng-repeat="item in items | filter: {company: selectedCompany} | filter: {type: selectedType}">
    <div class="thumbnail">
      <div class="item-pic text-center">
        <i data-ng-if="!item.img" class="fa fa-picture-o fa-5x"></i>
        <img data-ng-if="item.img" data-ng-src="{{ item.img }}" alt=""/>
      </div>
      <div class="caption">
        <h3> {{ item.name }} </h3>
        <h4 class="text-muted"> {{ item.company }} </h4>
        <small data-ng-if="!item.stock" class="text-danger"><strong>Out of stock.</strong></small>
        <small data-ng-if="item.stock">There are {{ item.stock }} of these in stock.</small>
        <p data-ng-if="item.desc.length"> {{ item.desc | limitTo: 140 }}{{ item.desc.length > 140 ? '...' : '' }} </p>
        <p class="text-muted" data-ng-if="!item.desc.length">No description.</p>
        </div>
      <button class="btn btn-primary" data-ng-click="edit(item)"><i class="fa fa-pencil"></i></button>
      <button class="btn btn-danger" data-ng-click="deleteItem(item)"><i class="fa fa-trash-o"></i></button>

    </div>
  </div>
</div>




